#chatroom_container {
    background-color: #eee;
	position: absolute;
    left: calc(50vw - 376px);
	width: 720px;
	height: 882px;
    max-width: calc(100vw - 80px);
    max-height: calc(100vh - 78px);
	max-height: calc(100dvh - 78px);
    border-radius: 32px;
    box-shadow: 0 0 48px rgba(0,0,0,0.2);
	padding: 16px;
    top: 12px;
    animation: zoomin3 0.25s cubic-bezier(0.3, 0, 0, 1);
}
#chatcontent {
    box-shadow: 0 0 48px rgba(0,0,0,0.07) inset;
	position: relative;
	height: calc(100% - 100px);
	padding: 16px;
	box-sizing: border-box;
	background-color: #ccc;
    overflow-x: hidden;
	overflow-y: auto;
	border-radius: 12px;
}
#chatcontent div {
	font-size: 14px;
	text-align: center;
	color: #555;
    padding: 4px 0;
}
#chatcontent div .timer {
    font-weight: bold;
	display: inline-block;
	border-radius: 10px;
	margin: 5px 0;
	color: #fff;
	background: #999;
	padding: 3px 5px 3px;
}
#chatcontent div .msg {
    display: inline-block;
    margin: 4px 0;
}
#chatcontent div.speak .speak_name {
    display: block;
    text-align: left;
    position: relative;
    top: 10px;
}
#chatcontent div.speak div {
    text-align: left;
}
#chatcontent div.isyou .speak_name {
    text-align: right;
}
#chatcontent div.isyou div {
    text-align: right;
}
#chatcontent div.speak div .speak_cont {
	font-size: 18px;
	color: #222;
    display: inline-block;
    text-align: left;
    max-width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
	background-color: #fff;
	padding: 10px 10px;
	border-radius: 10px;
    line-height: 125%;
    user-select: text !important;
}
#chatcontent div.isyou div .speak_cont {
    color: #fff;
    background-color: #48d;
}
#chatcontent div div .speak_cont p{
    font-size: 18px;
    margin: 0;
}
#chatcontent div.isyou div .speak_cont p{
    color: #fff;
}
#chatcontent img,video {
    max-width: 100%;
    border-radius: 8px;
}
#chatcontent h1,#chatcontent h2,#chatcontent h3,#chatcontent h4,#chatcontent h5,#chatcontent h6 {
    margin: 0;
}
#chatcontent h1,#chatcontent h2,#chatcontent h3 {
    line-height: 125%;
}
#chatcontent a {
    color: currentColor;
    cursor: pointer;
    text-decoration: underline;
}
#chatcontent code {
    font-family: "Consolas", "Courier New", monospace;
    font-size: 16px;
    color: #fff;
    background-color: #111;
    padding: 6px;
    border-radius: 4px;
    border: 2px #444 solid;
}
#chatcontent pre code {
    display: block;
}
#chatroom_container input,#chatroom_container textarea {
    top: 16px;
}
#panel1 {
	width: 100%;
    position: relative;
    top: 24px;
	height: 36px;
	user-select: none;
}
#panel1 svg {
	float: right;
    padding: 6px 14px 6px 0px;
    opacity: 0.25;
    transition: opacity 0.25s;
}
#panel1 svg:active {
	opacity: 1 !important;
}
#askforusername input {
    width: calc(100% - 88px);
    top: 0px;
}
#askforusername #promptbtn {
    width: 56px;
    left: 8px;
    top: 1px;
}
.prompt .chat_infochkbx {
    position: relative;
    opacity: 0.7;
    width: 20px;
    height: 16px;
    top: 2px !important;
    left: -6px;
}
ul,ol {
    margin: 0px;
    line-height: 50%;
}
ul li,ol li {
    line-height: 100%;
}
blockquote {
    margin: 0px;
    padding: 10px 10px;
    background-color: rgba(0,0,0,.07);
    border-radius: 4px;
}
#quoteselector {
    top: 4px;
    width: 160px;
    height: 28px;
}
@media (prefers-color-scheme: dark) {
    #chatroom_container {
        background-color: #282828;
        box-shadow: 0 0 48px rgba(0,0,0,0.25);
    }
    #chatcontent {
        box-shadow: 0 0 48px rgba(0,0,0,0.25) inset;
        background-color: #222;
    }
    #chatcontent div {
        color: #999;
    }
    #chatcontent div .timer {
        color: #222;
        background: #777;
    }
    #chatcontent div.speak div .speak_cont {
        color: #ccc;
        background-color: #111;
    }
    #chatcontent div.isyou div .speak_cont {
        color: #ddd;
        background-color: #047;
    }
    blockquote {
        background-color: rgba(255,255,255,.07);
    }
}
@media screen and (min-height: 960px) {
    #chatroom_container {
        top: calc(50vh - 468px);
        top: calc(50dvh - 468px);
    }
}
@media screen and (max-width: 800px) {
    #chatroom_container {
        left: 24px;
    }
}
@media screen and (max-width: 400px) {
    #quoteselector {
        width: calc(75% - 80px);
    }
}
@media (any-hover: hover) {
    #panel1 svg:hover {
        opacity: 0.6;
    }
}