* {
	font-family: "HarmonyOS Sans SC","Century Gothic","Noto Sans","Source Han Sans CN","Microsoft YaHei",微软雅黑,"Microsoft JhengHei","Segoe UI","Arial",黑体;
}
body {
    animation: appear 0.6s ease 1;
    color: #333;
    text-align: left;
    user-select: none;
    overflow: hidden;
}
body,#pseudo_background {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: #eee;
}
#container {
    background-color: #fff;
    box-shadow: 0px 0px 32px rgba(0,0,0,0.4);
    position: absolute;
    left: calc(50vw - 414.5px);
    border-radius: 12px;
    width: 765px;
    max-height: calc(100vh - 80px);
    max-height: calc(100dvh - 80px);
    padding: 32px;
    overflow-x: hidden;
    overflow-y: scroll;
    animation: zoomin3 0.25s cubic-bezier(0.3, 0, 0, 1);
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,.15);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,.75) !important;
}
a {
    cursor: default;
    text-decoration: none;
}
.c {
    transition: 0.25s;
    font-weight: bold;
    color: #555;
    background-color: rgba(0,0,0,0);
    padding: 6px 8px;
    border-radius: 4px;
}
.c:active {
    color: #fff !important;
    background-color: #555 !important;
}
h4 {
    color: #555;
    line-height: 150%;
}
p {
    line-height: 150%;
}
#largetitle {
    font-weight: bold;
    position: fixed;
    top: 60px;
    left: calc(50% - 800px);
    font-size: 384px;
    animation: appear 0.6s ease 1;
    color: rgba(0,0,0,0.1);
    overflow: hidden;
    z-index: -1;
}
s {
    opacity: 0.4;
}
textarea {
    resize: none;
    height: 24px;
}
input[type="text"],textarea {
	font-size: 14px;
    position: relative;
	width: calc(100% - 24px);
	line-height: 24px;
	padding: 6px 12px;
	outline: none;
	border: 0px;
	transition: border .25s;
	border-radius: 14px;
    background-color: #ddd;
    transition: 0.25s;
}
input[type="text"]:focus,textarea:focus {
    background-color: #fff;
}
input[type="radio"] {
    position: relative;
    width: 24px;
    height: 20px;
    top: 4px;
}
.settings_checkbox {
    position: relative;
    width: 24px;
    height: 20px;
    top: 4px;
}
#prompb {
    display: none;
    width: 175vw;
    height: 175vh;
    position: fixed;
    left: -50vw;
    top: -50vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    animation: appear 0.2s ease 1;
}
.prompt {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
	padding: 16px;
	box-sizing: border-box;
	font-size: 16px;
	color: #000;
    width: 300px;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 0 0 24px rgba(0,0,0,0.4);
    animation: zoomin2 0.4s cubic-bezier(0, 0.67, 0, 1) 1;
    user-select: none;
}
#promptbtn {
	font-size: 16px;
    font-weight: bold;
	color: #555;
    background-color: rgba(0,0,0,0);
	padding: 7px 12px;
	border: 0px;
	transition: all .25s;
	border-radius: 8px;
	position: relative;
}
#promptbtn:active {
    color: #fff;
    background-color: rgba(0,0,0,0.45) !important;
}
#sendmsg {
	font-size: 15px;
	color: #fff;
	padding: 6px 16px;
    float: right;
    top: 2px;
	background: #48d;
	border: 0px;
	transition: all .25s;
	border-radius: 16px;
	position: relative;
}
#sendmsg:active {
	background: #047 !important;
}
.invisable {
    opacity: 0 !important;
}
select {
   	text-align: left;
   	position: relative;
   	top: 0px;
    appearance: none;
	padding: 0px 4px;
	border: 0px;
	border-radius: 14px;
	outline: none;
    background-color: #ddd;
	transition: background-color 0.4s;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><title>chevron-down</title><path d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /></svg>");
    background-repeat: no-repeat;
    background-position: right 0.2rem top 55%;
    background-size: 1.2rem auto;
}
select:focus {
	background-color: #fff;
}
@media (prefers-color-scheme: dark) {
    body {
        color: #eeeeee;
    }
    body,#pseudo_background {
        background-color: #252525; 
    }
    #container {
        background-color: #202020;
    }
    .c {
        color: #ddd;
    }
    .c:active {
        color: #222 !important;
        background-color: #fff !important;
    }
    h4 {
        color: #aaa;
    }
    #largetitle {
        color: rgba(255,255,255,0.1);
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,.15);
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: rgba(255,255,255,.75) !important;
    }
    input[type="text"],textarea {
        color: #ccc;
        background-color: #333;
    }
    input[type="text"]:focus,textarea:focus {
        background-color: #111;
    }
    .prompt {
        color: #ddd;
        background-color: rgba(0,0,0,0.6);
    }
    #promptbtn {
        color: #999;
        background-color: rgba(255,255,255,0);
    }
    #promptbtn:active {
        background-color: rgba(255,255,255,0.45) !important;
    }
    #sendmsg {
        color: #ccc;
        background: #047;
    }
    #sendmsg:active {
        background: #024 !important;
    }
    select {
        color: #aaa;
        background-color: #333;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><title>chevron-down</title><path d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /></svg>");
    }
    select:focus {
        background-color: #111;
    }
}
@media screen and (max-width: 900px) {
    #container {
        left: calc(7.5vw - 24px);
        width: 85vw;
        padding: 24px;
        max-height: calc(100vh - 64px);
        max-height: calc(100dvh - 64px);
    }
}
@media (any-hover: hover) {
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0,0,0,.5);
    }
    .c:hover {
        color: #222;
        background-color: rgba(0,0,0,0.15);
    }
    #promptbtn:hover {
        background-color: rgba(0,0,0,0.15);
    }
    #sendmsg:hover {
        background: #6ae;
    }
}
@media (prefers-color-scheme: dark) and (any-hover: hover) {
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255,255,255,.5);
    }
    .c:hover {
        color: #fff;
        background-color: rgba(255,255,255,.15);
    }
    #promptbtn:hover {
        background-color: rgba(255,255,255,0.15);
    }
    #sendmsg:hover {
        color: #fff;
        background: #6ae;
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes zoomin {
    from {
        opacity: 0;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoomout {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.75);
    }
}
@keyframes zoomin2 {
    from {
        opacity: 0;
        transform: translate(-50%,-50%) scale(0.75);
    }
    to {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
}
@keyframes zoomout2 {
    from {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%,-50%) scale(0.75);
    }
}
@keyframes zoomin3 {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.app_trans-enter-active,
.app_trans-leave-active {
  transition: all 0.25s cubic-bezier(0.3, 0, 0, 1);
}
.app_trans-enter-active {
  transition-delay: 0.05s;
}
.app_trans-enter-from {
  opacity: 0;
  transform: scale(0.9);
}
.app_trans-leave-to {
  opacity: 0;
  transform: scale(1.1);
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s cubic-bezier(0.3, 0, 0, 1);
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0 !important;
}