#stp_noti_main {
    position: fixed;
    left: 50%;
    bottom: 48px;
    max-width: 320px;
    transform: translate(-50%);
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border-radius: 4px;
    animation: s_n_entry 0.25s cubic-bezier(0, 0.6, 0, 1);
    z-index: 11;
}
#stp_noti_timer {
    position: relative;
    height: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #48d;
    animation: s_n_t_prog 3s linear;
}
#stp_noti_content {
    padding: 8px 12px;
}
@keyframes s_n_entry {
    from {
        opacity: 0;
        bottom: -96px;
    }
    to {
        opacity: 1;
        bottom: 48px;
    }
}
@keyframes s_n_t_prog {
    from {
        width: 0%;
        border-top-right-radius: 0px;
    }
    to {
        width: 100%;
        border-top-right-radius: 0px;
    }
}
@media (prefers-color-scheme: dark) {
    #stp_noti_main {
        background-color: #111;
    }
}